@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>

    var columnDefs = [
        { headerName: 'Sr No.', field: 'srNo', width: 80, resizable: false, sortable: true, suppressMovable: true },
        { headerName: 'Transaction ID', field: 'transID', width: 130, resizable: false, sortable: true, suppressMovable: true  },
        { headerName: 'Entity Name', field: 'entityName', width: 150, resizable: false, sortable: true, suppressMovable: true  },
        { headerName: 'Entity ID', field: 'entityID', width: 110, resizable: false, sortable: true, suppressMovable: true },
        { headerName: 'Purchase Date', field: 'purchaseDate', width: 130, resizable: false, sortable: true, suppressMovable: true },
        { headerName: 'Expiry Date', field: 'expireDate', width: 110, resizable: false, sortable: true, suppressMovable: true },
        { headerName: 'Status', field: 'status', width: 100, resizable: false, sortable: true, suppressMovable: true },
        { headerName: 'Balance eSign', field: 'balanceSign', width: 130, resizable: false, sortable: true, suppressMovable: true },
        {
            headerName: 'Action', field: '', width: 110,  resizable: false, suppressMovable: true, cellRenderer: function (params) {
                return '<button type="button" class="ingridbtn" data-bs-toggle="modal" data-bs-target="#Signmodal">View More</button>'
            }
        }
    ];

    var rowData = [
        { srNo: '1', stype: 'eSign Aadhaar', dname: 'document 1', sDate: '15/06/2023' },
        { srNo: '2', stype: 'eSign Aadhaar', dname: 'document 2', sDate: '16/06/2023' },

    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        pagination: false
    };

    document.addEventListener('DOMContentLoaded', function () {
        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    });
</script>
<style>
    #Signmodal .modal-dialog {
        width: 1024px !important;
        max-width: 1024px !important;
    }

    .lowfw {
        font-family: Roboto-Regualr;
    }


    .fixeddiv {
        position: absolute;
        right: 32px;
        bottom: 23px;
    }
</style>
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Sign Uses </h2>
                <ul class="breadcrumb">
                    @*<li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>*@
                    <li class="breadcrumb-item">Buy More Sign</li>
                    <li class="breadcrumb-item active">Sign Uses</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
                        @*<button type="button" class="btn  btn-primary" id="downloadButton1"><i class="fa fa-file-excel-o"></i> Excel</button>*@
                        <button type="button" class="btn btn-primary" onclick="window.location.href='../zipSign/BuyMoreSign';"><i class="fa fa-rupee"></i> Buy More Sign</button>
                    </div>
                    <div class="p-2 d-flex">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <form id="advanced-form" data-parsley-validate novalidate>


                        <div class="col-md-12 col-xs-12 col-sm-12 p-0">
                            <div class="col-md-12 p-0">
                                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                                    <div id="myGrid" style="height: 70vh; width: 100%;" class="ag-theme-alpine"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                        <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="Signmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Uses Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height:78vh;position:relative;">
                <div class="col-md-12 d-flex flex-wrap flex-wrap">
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">Trnsaction ID:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">Corporate Name:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">Corporate ID:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">Purchase Date:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">Expiry Date:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">Status:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">eSigns Utilized:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">No. of Fail:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">Total Transactions:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id="createdby"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-2">
                        <div class="form-group d-flex flex-wrap">
                            <div class="col-md-5 col-12">
                                <label class="text-input1 highfw">Balance eSigns:</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lowfw" id="createdon"></label>
                            </div>
                        </div>
                    </div>
                  
                    

                </div>

            </div>
            @*<div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>