@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>zipSign</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
   

    <style>
        .modcontxt {
            font-family: 'Roboto-Regular';
            font-size: 14px;
        }
        .top h3 {
            color: #fff;
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .capdiv {
            width: 127px;
            height: 30px;
            overflow: hidden;
            border: 1px solid #e2e2e2;
            margin-left: 14px;
            border-radius: 4px;
        }
            .capdiv img {
                margin-top: -9px;
                width: 100%;
            }
        .refcap {
            position: absolute;
            right: 11px;
            top: 7px;
            font-size: 20px;
            color: #0058b1;
            cursor: pointer;
        }

        .pages {
            display: flex;
            width: 100%;
            box-sizing: border-box;
        }

        .page {
            width: 100%;
            transition: all 0.7s;
            color: white;
        }

        .auth-box {
            overflow: hidden;
        }

        .auth-main .card {
            height: 400px !important;
        }

     /*   .loginbtn {
            margin-top: 100px !important;
        }*/

        .alert {
            padding: 0.3rem 1.25rem !important;
        }

        a {
            color: #0058b1 !important;
        }

        .resendotp {
            color: #0058b1;
            margin-left: 10px;
            text-decoration: underline;
            cursor: pointer;
        }

        .captchainput {
            width: 40%;
        }

        .alermsg {
            color: #de4848;
            font-size: 0.9em;
            margin-top: 3px;
        }

        .erdiv {
            margin-bottom: 0.3rem !important;
        }

        .formHeight {
            height: 170px;
        }

        .auth-main .card {
            height: 425px !important;
        }

        .auth-box {
            overflow: hidden;
            width: 450px;
        }

        .form-group {
            margin-bottom: 15px !important;
        }

        .backbtn, .backbtn:hover {
            background-color: #f2f2f2 !important;
            color: #000;
            border: #f2f2f2 !important;
            width:100%;
        }
        .spinloadlog {
            position: absolute;
            top: 36px;
            color: #fff;
            z-index: 9999;
            right: 53px;
            display: none;
        }
        #btnok {
            background-color: #0058b1 !important;
        }
    </style>
</head>
<body data-theme="light" class="font-nunito">
    <div id="wrapper" class="theme-cyan">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        @*<img src="assets/images/logo-white.svg" alt="Iconic">*@
                        <h3 style="color:#fff">zipSign</h3>
                    </div>
                    <div class="pages">
                        <div class="page">
                            <div class="card">
                                <div class="header">
                                    <p class="lead">Forgot Password</p>
                                    <span>Enter your registered email address to change your zipSign account password</span>
                                </div>
                                <div class="body">

                                    <form class="form-auth-small" action="index.html">
                                        <div class="formHeight">
                                            <div class="form-group erdiv">
                                                <input type="email" class="form-control" id="emailresetpassword" placeholder="Email" autocomplete="off" oninput="this.value = this.value.toLowerCase()">
                                            </div>
                                            <div class="form-group position-relative d-flex erdiv">
                                                <input type="text" class="form-control captchainput" id="signin-password" maxlength="6" placeholder="Enter CAPTCHA" autocomplete="off">
                                                <div class="capdiv">
                                                    @*<img src="~/Content/images/cap.png" />*@
                                                    <img src="/Login/GetCaptchaImage" id="Image" />
                                                </div>
                                                <i class="fa fa-refresh refcap" aria-hidden="true" onclick="ReloadCaptcha()"></i>

                                            </div>
                                            <div class="alermsg" role="alert" id="message"></div>
                                        </div>
                                        <div class="col-md-12 d-flex flex-wrap">
                                            <div class="col-md-6 p-1 ps-0">
                                                <button type="button" class="btn btn-secondary btn-lg btn-block loginbtn backbtn" onclick="window.location.href='../Login/Index';">BACK</button>
                                            </div>
                                            <div class="col-md-6 p-1 pe-0 position-relative">
                                                <i class="fa fa-spinner fa-spin spinloadlog" aria-hidden="true" id="loaderrr"></i>
                                                <button type="button" class="btn btn-primary btn-lg btn-block col-md-12" onclick="ForgotPassword()">Submit</button>
                                            </div>
                                        </div>
                                        @*<div class="alermsg col-md-12 p-1" role="alert" id=""></div>*@
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="successpopup1" tabindex="-1" role="dialog" aria-modal="true" style="display:none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title m-0" id="defaultModalLabel">Password Reset Email Sent </h4>
                </div>
                <div class="modal-body pt-4 pb-4">
                    <div class="col-12 text-center">
                        <label class="modcontxt">Check your email for instructions to set a new password for your account. If you don't receive an email, please check your spam folder.</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="window.location.href='../Login/Index';" id="btnok" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-3.6.4.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/JavaScript/Login.js"></script>

</body>

</html>
