@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>zipSign</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    @*<script src="~/Content/assets/js/jquery-3.6.4.min.js"></script>*@


    <style>
        .capdiv {
            width: 127px;
            height: 37px;
            overflow: hidden;
            border: 1px solid #e2e2e2;
            margin-left: 14px;
        }

        .refcap {
            position: absolute;
            right: 11px;
            top: 7px;
            font-size: 20px;
            color: #0058b1;
            cursor: pointer;
        }

        .pages {
            display: flex;
            width: 100%;
            box-sizing: border-box;
        }

        .page {
            width: 100%;
            transition: all 0.7s;
            color: white;
        }

        .auth-box {
            overflow: hidden;
        }

        .auth-main .card {
            height: 400px !important;
        }

        .loginbtn {
            margin-top: 100px !important;
        }

        .alert {
            padding: 0.3rem 1.25rem !important;
        }

        a {
            color: #0058b1 !important;
        }

        .resendotp {
            color: #0058b1;
            margin-left: 10px;
            text-decoration: underline;
            cursor: pointer;
        }

        .captchainput {
            width: 40%;
        }

        .alermsg {
            color: #de4848;
            font-size: 0.9em;
            margin-top: 3px;
        }

        .erdiv {
            margin-bottom: 0.3rem !important;
        }

        .formHeight {
            height: 170px;
        }
    </style>
</head>
<body data-theme="light" class="font-nunito">
    <div id="wrapper" class="theme-cyan">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        @*<img src="assets/images/logo-white.svg" alt="Iconic">*@
                        <h3 style="color:#fff">zipSign</h3>
                    </div>
                    <div class="pages">
                        <div class="page">
                            <div class="card">
                                <div class="header">
                                    <p class="lead">Enter Email to reset password</p>
                                </div>
                                <div class="body">
                                    <form class="form-auth-small" action="index.html">
                                        <div class="formHeight">
                                            <div class="form-group erdiv">
                                                <input type="email" class="form-control" id="emailresetpassword" placeholder="Email" autocomplete="off" oninput="this.value = this.value.toLowerCase()">
                                            </div>
                                            <div class="form-group position-relative d-flex erdiv">
                                                <input type="text" class="form-control captchainput" id="signin-password" maxlength="6" placeholder="Enter CAPTCHA" autocomplete="off">
                                                <div class="capdiv">
                                                    @*<img src="~/Content/images/cap.png" />*@
                                                    <img src="/Login/GetCaptchaImage" id="Image" />
                                                </div>
                                                <i class="fa fa-refresh refcap" aria-hidden="true" onclick="ReloadCaptcha()"></i>

                                            </div>
                                            <div class="alermsg" role="alert">Please enter correct Email ID.</div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="ForgotPassword()">Submit</button>
                                        <div class="alermsg col-md-12 p-1" role="alert" id="message"></div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-3.6.4.min.js"></script>
    <script src="~/JavaScript/Login.js"></script>

</body>

</html>
