@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>zipSign</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .fa-eye, .fa-eye-slash {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            color: #0058b1;
        }

        .fa-eye-slash {
            display: none;
        }

        .capdiv {
            width: 127px;
            height: 37px;
            overflow: hidden;
            border: 1px solid #e2e2e2;
            margin-left: 14px;
            border-radius: 0.25rem;
        }

            .capdiv img {
                margin-top: -4px;
            }

        .btn {
            width: 100%;
            margin-top: 15px !important;
        }

        .refcap {
            position: absolute;
            right: 11px;
            top: 7px;
            font-size: 20px;
            color: #0058b1;
            cursor: pointer;
        }

        .pages {
            display: flex;
            width: 200%;
            box-sizing: border-box;
        }

        .page {
            width: 100%;
            transition: all 0.7s;
            color: white;
        }

        .auth-box {
            overflow: hidden;
            width: 450px;
        }

        .auth-main .card {
            height: 425px !important;
        }

        .alert {
            padding: 0.3rem 1.25rem !important;
        }

        a {
            color: #0058b1 !important;
        }

        .resendotp {
            color: #0058b1;
            margin-left: 10px;
            text-decoration: underline;
            cursor: pointer;
        }

        .captchainput {
            width: 50%;
        }

        .alermsg {
            color: #de4848;
            font-size: 0.9em;
            margin-top: 3px;
        }

        .erdiv {
            margin-bottom: 0.3rem !important;
        }

        .formHeight {
            height: 170px;
        }

        .ulofselect {
            margin: 0px;
            background-color: #fff;
            box-shadow: 0px 2px 3px 1px #aba8a8;
            position: absolute;
            width: 150px;
            top: -67px;
            left: 0px;
            border-radius: 3px;
            padding: 4px 0px;
            display: none;
        }

            .ulofselect li {
                list-style: none;
                padding: 8px;
                cursor: pointer;
                text-align: left;
            }

                .ulofselect li:hover {
                    background-color: #e7e7e7;
                }

        .signupbtn {
            background-color: transparent !important;
            color: #0058b1 !important;
            border: none;
            line-height: 1.33 !important;
        }

            .signupbtn:hover, .signupbtn:active {
                background-color: #cce6ff !important;
                color: #0058b1 !important;
            }

        .backbtn, .backbtn:hover {
            background-color: #f2f2f2 !important;
            color: #000;
            border: #f2f2f2 !important;
        }

        .card {
            border: none !important;
        }

        .otpinfo {
            font-weight: 900;
            margin-left: 7px;
        }

        .pasin {
            padding: 0.375rem 1.8rem 0.375rem 0.75rem !important;
        }
    </style>
</head>
<body data-theme="light" class="font-nunito">
    <div id="wrapper" class="theme-cyan">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        @*<img src="assets/images/logo-white.svg" alt="Iconic">*@
                        <h3 style="color:#fff">zipSign</h3>
                    </div>
                    <div class="pages">
                        <div class="page">
                            <div class="card">
                                <div class="header">
                                    <p class="lead">Sign in to your account</p>
                                </div>
                                <div class="body">
                                    <form class="form-auth-small" action="/Login/CustomCaptcha">

                                        <div class="formHeight">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="email" maxlength="60" placeholder="Email / Mobile Number" autocomplete="off" oninput="this.value = this.value.toLowerCase()">
                                            </div>
                                            <div class="form-group position-relative">
                                                <input type="password" class="form-control pasin" id="password" maxlength="60" placeholder="Password" autocomplete="off">
                                                <i class="fa fa-eye"></i>
                                                <i class="fa fa-eye-slash"></i>

                                            </div>
                                            <div class="form-group position-relative d-flex erdiv">
                                                <input type="text" class="form-control captchainput" id="signin-password" maxlength="6" placeholder="Enter CAPTCHA" autocomplete="off">
                                                <div class="capdiv">
                                                    @*<img src="~/Content/images/cap.png" />*@
                                                    <img src="/Login/GetCaptchaImage" id="Image" />
                                                </div>
                                                <i class="fa fa-refresh refcap" aria-hidden="true" onclick="ReloadCaptcha()"></i>

                                            </div>


                                            @*<div class="alermsg" role="alert">Please enter the correct captcha.</div>*@
                                            @*<div class="alermsg" role="alert">@ViewBag.CaptchaError</div>*@
                                        </div>
                                        <div class="alermsg col-md-12 p-1" role="alert" id="message"></div>
                                        <div class="col-md-12 d-flex flex-wrap pr-0 pl-0 d-flex justify-content-end">

                                            @*<div class="col-md-6 pl-0 position-relative">
                                                    <button type="button" class="btn btn-primary btn-lg btn-block signupbtn ml-1">Sign up</button>
                                                    <ul class="ulofselect">
                                                        <li>Individual</li>
                                                        <li>Corporate</li>
                                                    </ul>
                                                </div>*@


                                            <div class="col-md-12 p-1 pe-0 ">
                                                <button type="button" class="btn btn-primary btn-lg btn-block cmbtn " onclick="Login();" id="btnsubmit">NEXT</button>
                                            </div>

                                        </div>
                                        <div class="bottom">
                                            <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="/Login/ForgotPassword">Forgot password?</a></span>
                                            <span class="position-relative">
                                                Not having an account yet?<a href="/Login/Signup" class="ps-1">Sign up</a>
                                                @*<ul class="ulofselect">
                                                        <li>Individual</li>
                                                        <li>Corporate</li>
                                                    </ul>*@
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="page">
                            <div class="card">
                                <div class="header">
                                    <p class="lead">Enter the OTP received</p>
                                </div>
                                <div class="body">
                                    <form class="form-auth-small" action="index.html">
                                        <div class="formHeight">
                                            <div class="form-group erdiv">
                                                <label id="lblemail"><span class="enterddata"></span></label>
                                                @*<label>Please enter the OTP sent to <span class="otpinfo">xx5678</span></label>*@
                                                <input type="text" class="form-control" id="mobileotp" placeholder="Enter OTP" onkeypress="return onlyNumbers(event)" maxlength="6" autocomplete="off">
                                                <input type="hidden" id="txtemail" />
                                                <input type="hidden" id="txtmobilehdn" />
                                                <input type="hidden" id="txtnamehdn" />
                                            </div>
                                            <div class="alermsg col-md-12 p-1" role="alert" id="message1"></div>
                                            <div class="timerdiv d-flex justify-content-end">
                                                <label class="mb-0 timer" id="resmobotp">00:60</label><label class="resendotp mb-0" id="lblresend">Resend OTP</label>
                                            </div>
                                        </div>


                                        <div class="col-md-12 d-flex flex-wrap">
                                            <div class="col-md-6 p-1 ps-0">
                                                <button type="button" class="btn btn-secondary btn-lg btn-block loginbtn backbtn" onclick="slide('prev')">BACK</button>
                                            </div>
                                            <div class="col-md-6 p-1 pe-0">
                                                <button type="button" class="btn btn-primary btn-lg btn-block loginbtn " onclick="VerifyOTP()">SIGN IN</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-3.6.4.min.js"></script>
    <script src="~/Content/js/libscripts.bundle.js"></script>
    <script src="~/JavaScript/Login.js"></script>
    <script src="~/Content/js/MyValidator.js"></script>
    <script>
        const pages = document.querySelectorAll(".page");
        const translateAmount = 100;
        let translate = 0;
        /*        window.onload = function () { document.getElementById("txtUsername").focus(); }*/
        slide = (direction) => {
            direction === "next" ? translate -= translateAmount : translate += translateAmount;
            pages.forEach(
                pages => (pages.style.transform = `translateX(${translate}%)`)
            );
        }
        $(document).ready(function () {
            $('.fa-eye').click(function () {
                $(this).hide();
                $('.fa-eye-slash').show();
                $('#password').attr('type', 'text')
            })
            $('.fa-eye-slash').click(function () {
                $(this).hide();
                $('.fa-eye').show();
                $('#password').attr('type', 'password')
            })
        })
        $(document).ready(function () {
            $(".signupbtn").click(function () {
                $(".ulofselect").toggle();
            });
        });
    </script>
</body>
</html>

