
@{
    Layout = null;
    ViewBag.Title = "Page_Load";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <title>Message</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            margin-top: 7% !important;
            align-items: center;
            margin: 0;
        }

        .message {
            font-size: 36px;
            font-family: 'Arial', sans-serif;
        }

        .redirect-message {
            margin-top: 20px;
            font-size: 18px;
        }

        .imdiv img {
            margin-top: 13%;
        }

        .sisuc {
            font-size: 30px;
            margin-top: 34px;
            display: block;
            font-family: 'Roboto-Bold';
        }

        .termsg {
            font-size: 22px;
            margin-top: 34px;
            display: block;
            font-family: 'Roboto-Bold';
        }

        .sisuc1 {
            font-size: 15px;
            margin-top: 22px;
            font-family: Roboto-Regular;
            display: block;
        }
    </style>
    <script src="~/Content/js/jquery-3.6.4.min.js"></script>
   
    <script src="~/JavaScript/Page_Load.js"></script>


</head>
<body>
    @{
        var myValue = ViewBag.RedirectUrl;
    }
    <input type="hidden" id="myHiddenField" name="myHiddenField" value="@myValue" />
    @if (ViewBag.HasError == true)
    {
        @*<img src="D:\Project\ZipSign_New\zipSign\zipSign\Content\images\download.jpg" alt="ErrorImage" />*@
        @*<h2 class="message" style="color: #f00;">User Terminated the KYC Process..</h2>*@
        <div class="col-md-12 d-flex justify-content-center imdiv">
            <img src="~/Content/images/crossi.png" />
        </div>

        <div class="col-md-12 text-center">
            <label class="termsg message">User terminated the KYC process</label>
        </div>
        <div class="col-md-12 text-center remsg">
            <label class="sisuc1 redirect-message">Redirecting in 3...</label>
        </div>

    }
    else
    {
        <div class="col-md-12 d-flex justify-content-center imdiv">
            <img src="~/Content/images/check-mark.gif" />
        </div>

        <div class="col-md-12 text-center">
            <label class="sisuc message">Signed Successfully</label>
        </div>

        <div class="col-md-12 text-center remsg">
            <label class="sisuc1 redirect-message">Redirecting in 3...</label>
        </div>
        @*<h2 class="message">Signed Successfully</h2>*@
    }
    @*<p class="redirect-message">Redirecting...</p>*@
</body>
</html>
