@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script>

        var columnDefs = [
            { headerName: 'Sr No.', field: 'srNo', width: 80, resizable: false, sortable: true, suppressMovable: true  },
            { headerName: 'Certificate Name', field: 'certname', width: 300, resizable: false, sortable: true, suppressMovable: true},
            { headerName: 'Certificate Type', field: 'certtype', width: 220, resizable: false, sortable: true, suppressMovable: true },
            { headerName: 'Created By', field: 'cby', width: 150, resizable: false, sortable: true, suppressMovable: true },
            { headerName: 'Created On', field: 'con', width: 150, resizable: false, sortable: true, suppressMovable: true },
            {
                headerName: 'Action',
                field: '',
                width: 150,
                sortable: true,
                resizable: false,
                suppressMovable: true,
                cellRenderer: function (params) {

                    return '<span class="fa fa-download gridIcon" id=""></span><span class="fa fa-trash gridIcon"></span>';
                }
            },
           

        ];


        var rowData = [
            { srNo: '1', certname: 'Certificate 1', certtype: '.pfx', cby: 'Admin', con: '24-10-2023' },




        ];

        var gridOptions = {
            columnDefs: columnDefs,
            rowData: rowData,
            pagination: false
        };

        document.addEventListener('DOMContentLoaded', function () {
            var gridDiv = document.querySelector('#myGrid');
            new agGrid.Grid(gridDiv, gridOptions);
        });
    </script>

<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>All Document Signer Certificate</h2>
                <ul class="breadcrumb">
                    @*<li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>*@
                    <li class="breadcrumb-item">Masters</li>
                    <li class="breadcrumb-item active">All Departments</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
                        @*<button type="button" class="btn  btn-primary" id="downloadButton1"><i class="fa fa-file-excel-o"></i> Excel</button>*@
                        <button type="button" class="btn btn-primary" onclick="window.location.href='../CertificateManagement/CertManagement';"><i class="fa fa-upload" aria-hidden="true"></i> Upload Certificate</button>
                    </div>
                    <div class="p-2 d-flex">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <form id="advanced-form" data-parsley-validate novalidate>


                        <div class="col-md-12 col-xs-12 col-sm-12 p-0">
                            <div class="col-md-12 p-0">
                                <div class="col-md-12 col-sm-12 col-xs-12 p-0">


                                    @*<div class="col-md-12">
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <label>Search:<input type="text" id="searchInput"><i class="fa fa-search" onclick="Search()"></i> </label>
                                            </div>
                                        </div>*@

                                    <div class="col-md-12">
                                        <div id="" class="dataTables_filter">
                                            <label class="position-relative">
                                                Search:
                                                <input type="text" class="form-control" placeholder="" aria-controls="" id="searchInput" autocomplete="off">
                                                <i class="fa fa-search iconinsearch" aria-hidden="true" onclick="Search()"></i>
                                            </label>
                                        </div>
                                    </div>


                                    <div id="myGrid" style="height: 67vh; width: 100%;" class="ag-theme-alpine"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-2" id="DivPagination">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="Ddd" role="status" aria-live="polite"></div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="pagination1">
                                    <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                            <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                            <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                                        </ul>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="~/Content/js/libscripts.bundle.js"></script>
<script src="~/Content/js/mainscripts.bundle.js"></script>
<script src="~/Content/js/parsley.min.js"></script>
<script src="~/Content/js/mainscripts.bundle.js"></script>
<script src="~/JavaScript/ExcelDownload.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script>
    $(function () {


        // initialize after multiselect
        $('#basic-form').parsley();
    });
</script>



