@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.min.js"></script>


    <style>
        .limgdiv{
            text-align:center;
            margin-top:7%;
        }
        .boldtxtl {
            text-align: center;
            font-size: 17px;
            color: #9f9494;
            margin-top: 12px;
        }
        .boldtxtl2 {
            text-align: center;
            font-size: 13px;
            color: #9f9494;
            margin-top: 18px;
        }
    </style>
</head>
<body>
    <div class="col-md-12 limgdiv">
        <img src="~/Content/images/link_Expired.png" />
    </div>

    <div class="col-md-12 boldtxtl">
        <label>Sorry, the link has expired.</label>
    </div>

    <div class="col-md-12 boldtxtl2">
        <label>Please contact the person who shared the link with you.</label>
    </div>
</body>
</html>
