@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .leftimgdiv {
        max-height: 76vh;
        width: 100%;
        overflow-y: auto;
    }

        .leftimgdiv img {
            width: 100%;
        }

    .signerdiv {
        border: 1px solid #dfdfdf;
        border-radius: 0.25rem;
        margin-bottom: 5px;
        cursor: move;
        position: relative;
    }

    #columns {
        padding-left: 0px;
        margin-bottom: 0px;
        padding-bottom: 20px;
    }

        #columns li {
            list-style: none;
        }

    .txtsign {
        font-weight: 700;
    }

    .draggable {
        position: absolute;
        right: 8px;
        top: 5px;
    }

    .signer {
        position: absolute;
        border: 1px dashed #b5b0b0;
        padding: 10px;
        width: 200px;
        text-align: center;
        background: #fff;
        display: none;
        top: 40px;
    }

        .signer .cross {
            position: absolute;
            right: -7px;
            font-size: 15px;
            color: #fff;
            font-weight: 600;
            top: -7px;
            cursor: pointer;
            background-color: #d73131;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 16px;
            display:none
        }
        .signer:hover .cross {
            display: block
        }
            /*.firsthalfmdl {
        border-right: 1px solid #cdcdcd;
        height: 80vh;
    }*/
            .btnSign {
            line-height: 1;
            font-size: 12px;
        }
    .signersList {
        margin-bottom: 20px;
    }

    .select-container {
        position: relative;
        margin: 0 auto;
        width: 100%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

        .select-container .select {
            position: relative;
            background: #ffffff;
            height: 30px;
            border: 1px solid #8998a7;
        }

            .select-container .select::after {
                position: absolute;
                content: "";
                width: 11px;
                height: 11px;
                top: 40%;
                right: 11px;
                transform: translateY(-50%) rotate(45deg);
                border-bottom: 2px solid #0058b1;
                border-right: 2px solid #0058b1;
                cursor: pointer;
                transition: border-color 0.4s;
            }

        .select-container.active .select::after {
            top:57%;
            border: none;
            border-left: 2px solid #0058b1;
            border-top: 2px solid #0058b1;
        }

        .select-container .select input {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0 10px;
            background: none;
            outline: none;
            border: none;
            font-size: 14px;
            color: #0058b1;
            cursor: pointer;
        }

        .select-container .option-container {
            position: relative;
            background: #6c757d;
            height: 0;
            overflow-y: auto;
            transition: 0.4s;
            position: absolute;
            width: 100%;
        }

        .select-container.active .option-container {
            height: 230px;
        }

        .select-container .option-container::-webkit-scrollbar {
            border-left: 1px solid rgba(0, 0, 0, 0.2);
            width: 10px;
        }

        .select-container .option-container::-webkit-scrollbar-thumb {
            background: #0f0e11;
        }

        .select-container .option-container .option {
            position: relative;
            padding-left: 10px;
            height: 40px;
            border-top: 1px solid rgb(209 199 199 / 30%);
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: 0.2s;
        }

            .select-container .option-container .option.selected {
                background: rgba(0, 0, 0, 0.5);
                pointer-events: none;
            }

            .select-container .option-container .option:hover {
                background: #0058b1;
                padding-left: 20px;
            }

            .select-container .option-container .option label {
                font-size: 14px;
                color: white;
                cursor: pointer;
            }

</style>

<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Sign Request </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">Documents</li>
                    <li class="breadcrumb-item active">Sign Request</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
                        <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                        @*<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>*@
                    </div>
                    <div class="p-2 d-flex">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">

                <div class="body">

                    <div class="row clearfix ps-3">


                        <div class="col-lg-2 col-md-12 p-0">
                            <div class="signersList">
                                <div class="select-container">
                                    <div class="select">
                                        <input type="text" id="input" placeholder="select" onfocus="this.blur();">
                                    </div>
                                    <div class="option-container">
                                        <div class="option">
                                            <label> e-Sign Aadhaar </label>
                                        </div>
                                        <div class="option">
                                            <label> DSC Sign </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <button type="button" class="btn btn-primary btnSign col-md-12"> Add Signature</button>
                            </div>


                            @*<ul id="columns">
            <li class="column" draggable="true">
                <div class="col-md-12 signerdiv">
                    <i class="fa fa-th draggable" aria-hidden="true"></i>
                    <div class="col-md-12 p-1">
                        <label class="txtsign">Signer 1</label>
                    </div>
                    <div class="col-md-12 d-flex flex-wrap">
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Email ID">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Mobile Number">
                        </div>
                    </div>
                </div>
            </li>

            <li class="column" draggable="true">
                <div class="col-md-12 signerdiv">
                    <i class="fa fa-th draggable" aria-hidden="true"></i>
                    <div class="col-md-12 p-1">
                        <label class="txtsign">Signer 2</label>
                    </div>
                    <div class="col-md-12 d-flex flex-wrap">
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Email ID">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Mobile Number">
                        </div>
                    </div>
                </div>
            </li>

            <li class="column" draggable="true">
                <div class="col-md-12 signerdiv">
                    <i class="fa fa-th draggable" aria-hidden="true"></i>
                    <div class="col-md-12 p-1">
                        <label class="txtsign">Signer 3</label>
                    </div>
                    <div class="col-md-12 d-flex flex-wrap">
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Email ID">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Mobile Number">
                        </div>
                    </div>
                </div>
            </li>

            <li class="column" draggable="true">
                <div class="col-md-12 signerdiv">
                    <i class="fa fa-th draggable" aria-hidden="true"></i>
                    <div class="col-md-12 p-1">
                        <label class="txtsign">Signer 4</label>
                    </div>
                    <div class="col-md-12 d-flex flex-wrap">
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Email ID">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Mobile Number">
                        </div>
                    </div>
                </div>
            </li>

            <li class="column newsigner" draggable="true" style="display:none">
                <div class="col-md-12 signerdiv">
                    <i class="fa fa-th draggable" aria-hidden="true"></i>
                    <div class="col-md-12 p-1">
                        <label class="txtsign">Signer 4</label>
                    </div>
                    <div class="col-md-12 d-flex flex-wrap">
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Email ID">
                        </div>
                        <div class="form-group col-md-4 p-1">
                            <input type="text" class="form-control" placeholder="Mobile Number">
                        </div>
                    </div>
                </div>
            </li>

        </ul>*@


                            @*<div class="col-md-12 d-flex justify-content-end">
            <button type="button" class="btn btn-primary newsign"> Add Signer</button>

        </div>*@
                        </div>
                        <div class="col-lg-10 col-md-12">
                            <div class="leftimgdiv firsthalfmdl">
                                <div class="signer">Signer  <span class="cross">x</span></div>
                                <img src="~/Content/images/document.png" />
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/jquery-3.6.4.min.js"></script>
<script>var jquery_3_6 = jQuery.noConflict();</script>
<script src="~/Content/js/code.jquery.com_ui_1.10.4_jquery-ui.js"></script>
<script>var jquery_ui = jQuery.noConflict();</script>
<script>
    jquery_3_6(document).ready(function () {
        jquery_3_6(".newsign").click(function () {
            jquery_3_6(".newsigner").show();
        });
    });

    let selectContainer = document.querySelector(".select-container");
    let select = document.querySelector(".select");
    let input = document.getElementById("input");
    let options = document.querySelectorAll(".select-container .option");

    select.onclick = () => {
        selectContainer.classList.toggle("active");
    };

    options.forEach((e) => {
        e.addEventListener("click", () => {
            input.value = e.innerText;
            selectContainer.classList.remove("active");
            options.forEach((e) => {
                e.classList.remove("selected");
            });
            e.classList.add("selected");
        });
    });
</script>
<script>
    jquery_3_6(document).ready(function () {
        jquery_3_6('.btnSign').click(function () {

            jquery_3_6('.firsthalfmdl').append("<div class='signer' style='display:block'>Signer  <span class='cross'>x</span></div>");
            jquery_3_6(function () {
                jquery_ui(".signer").draggable();
                jquery_ui(".signer").resizable();
            });
            jquery_3_6('.cross').click(function () {
                jquery_3_6(this).parent().hide();
            })
        })
    });
</script>
<script>
    var dragSrcEl = null;

    function handleDragStart(e) {

        dragSrcEl = this;

        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', this.outerHTML);

        this.classList.add('dragElem');
    }
    function handleDragOver(e) {
        if (e.preventDefault) {
            e.preventDefault();
        }
        this.classList.add('over');

        e.dataTransfer.dropEffect = 'move';

        return false;
    }

    function handleDragEnter(e) {

        e.preventDefault();

    }

    function handleDragLeave(e) {
        this.classList.remove('over');
    }

    function handleDrop(e) {

        if (e.stopPropagation) {
            e.stopPropagation();
        }

        if (dragSrcEl != this) {

            dragSrcEl.parentNode.removeChild(dragSrcEl);
            var dropHTML = e.dataTransfer.getData('text/html');
            this.insertAdjacentHTML('beforebegin', dropHTML);
            var dropElem = this.previousSibling;
            addDnDHandlers(dropElem);

        }
        this.classList.remove('over');
        return false;
    }

    function handleDragEnd(e) {

        this.classList.remove('over');

    }

    function addDnDHandlers(elem) {
        elem.addEventListener('dragstart', handleDragStart, false);
        elem.addEventListener('dragenter', handleDragEnter, false)
        elem.addEventListener('dragover', handleDragOver, false);
        elem.addEventListener('dragleave', handleDragLeave, false);
        elem.addEventListener('drop', handleDrop, false);
        elem.addEventListener('dragend', handleDragEnd, false);

    }

    var cols = document.querySelectorAll('#columns .column');
    [].forEach.call(cols, addDnDHandlers);


    var cols_1 = document.querySelectorAll('#columns_1 .column');
    [].forEach.call(cols_1, addDnDHandlers);
</script>

