
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>zipSign</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/css/plugin.css" rel="stylesheet" />
    <link href="~/Content/css/ag-grid.css" rel="stylesheet" />
    <link href="~/Content/css/ag-theme-alpine.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="assets/vendor/toastr/toastr.min.css">
        <link rel="stylesheet" href="assets/vendor/charts-c3/plugin.css" />*@

    <link href="~/Content/css/main.css" rel="stylesheet" />
    <style>
        .sidebar .nav-tabs .nav-link.active, .sidebar .nav-tabs .nav-link:hover, .sidebar .nav-tabs .nav-link:focus {
            color: #fff !important
        }


        .nav-link {
            display: block;
            padding: 0.5rem 1.5rem;
        }

        #toast-container {
            display: none !important
        }

        .inidiv {
            border: 1px solid #0058b1;
            border-radius: 50%;
            padding: 4px;
            height: 30px;
            width: 30px;
            cursor: pointer;
            text-align: center;
        }

            .inidiv span {
                font-weight: 700;
                color: #0058b1;
            }

            .inidiv span {
                font-weight: 700;
                color: #0058b1;
            }

            .inidiv ul {
                position: absolute;
                padding-left: 0px;
                right: 9px;
                top: 55px;
                padding: 5px;
                border-radius: 6px;
                background-color: #fff;
                text-align: left;
                list-style: none;
                box-shadow: 1px 1px 6px 0px #000;
                display: none;
            }

                .inidiv ul li {
                    padding: 3px 7px;
                }

                    .inidiv ul li:hover {
                        background-color: #e0f0ff;
                    }

        .mainLogo {
            /*color: #0058b1;*/
            text-align: center;
            font-weight: 600;
        }

        .layout-fullwidth #wrapper #main-content {
            width: calc(100% - 0px);
        }

        .breadcrumb {
            display: none !important;
        }

        .opencorp {
            border: 1px solid #0058b1;
            color: #0058b1;
            padding: 3px 8px !important;
            border-radius: 2px;
            margin-right: 5px;
        }

        .ulofcorp {
            padding-left: 0px;
            list-style: none;
            margin-bottom: 0px;
            font-size: 14px;
            width: 260px;
            border: 1px solid #cdcdcd;
            border-radius: 2px;
            position: absolute;
            top: 25px;
            background-color: #fff;
        }

        #main-content {
            width: 100%
        }

        .navbar-fixed-top {
            width: 100%;
            left: 0px;
        }

        .leftimgdiv {
            /*max-height: 76vh;*/
            width: 100%;
            overflow-y: auto;
        }

            .leftimgdiv img {
                width: 100%;
            }

        .signerdiv {
            border: 1px solid #dfdfdf;
            border-radius: 0.25rem;
            margin-bottom: 5px;
            cursor: move;
            position: relative;
        }

        #columns {
            padding-left: 0px;
            margin-bottom: 0px;
            padding-bottom: 20px;
        }

            #columns li {
                list-style: none;
            }

        .txtsign {
            font-weight: 700;
        }

        .draggable {
            position: absolute;
            right: 8px;
            top: 5px;
        }

        .signer {
            position: absolute;
            border: 1px dashed #b5b0b0;
            padding: 10px;
            width: 200px;
            text-align: center;
            background: #fff;
            display: none;
            top: 40px;
        }

            .signer .cross {
                position: absolute;
                right: -7px;
                font-size: 15px;
                color: #fff;
                font-weight: 600;
                top: -7px;
                cursor: pointer;
                background-color: #d73131;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                text-align: center;
                line-height: 16px;
                display: none
            }

            .signer:hover .cross {
                display: block
            }
        /*.firsthalfmdl {
            border-right: 1px solid #cdcdcd;
            height: 80vh;
        }*/
        .btnSign {
            line-height: 1;
            font-size: 12px;
        }

        .signersList {
            margin-bottom: 20px;
        }

        .select-container {
            position: relative;
            margin: 0 auto;
            width: 100%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        }

            .select-container .select {
                position: relative;
                background: #ffffff;
                height: 30px;
                border: 1px solid #8998a7;
            }

                .select-container .select::after {
                    position: absolute;
                    content: "";
                    width: 11px;
                    height: 11px;
                    top: 40%;
                    right: 11px;
                    transform: translateY(-50%) rotate(45deg);
                    border-bottom: 2px solid #0058b1;
                    border-right: 2px solid #0058b1;
                    cursor: pointer;
                    transition: border-color 0.4s;
                }

            .select-container.active .select::after {
                top: 57%;
                border: none;
                border-left: 2px solid #0058b1;
                border-top: 2px solid #0058b1;
            }

            .select-container .select input {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0 10px;
                background: none;
                outline: none;
                border: none;
                font-size: 14px;
                color: #0058b1;
                cursor: pointer;
            }

            .select-container .option-container {
                position: relative;
                background: #6c757d;
                height: 0;
                overflow-y: auto;
                transition: 0.4s;
                position: absolute;
                width: 100%;
            }


            .select-container.active .option-container {
                height: 84px;
                z-index: 999;
            }

            .select-container .option-container::-webkit-scrollbar {
                border-left: 1px solid rgba(0, 0, 0, 0.2);
                width: 10px;
            }

            .select-container .option-container::-webkit-scrollbar-thumb {
                background: #0f0e11;
            }

            .select-container .option-container .option {
                position: relative;
                padding-left: 10px;
                height: 40px;
                border-top: 1px solid rgb(209 199 199 / 30%);
                cursor: pointer;
                display: flex;
                align-items: center;
                transition: 0.2s;
            }

                .select-container .option-container .option.selected {
                    background: rgba(0, 0, 0, 0.5);
                    pointer-events: none;
                }

                .select-container .option-container .option:hover {
                    background: #0058b1;
                    padding-left: 20px;
                }

                .select-container .option-container .option label {
                    font-size: 14px;
                    color: white;
                    cursor: pointer;
                }

        .user-account {
            margin: 0px !important;
        }

        iframe {
            width: 100%;
            height: 60vh;
            margin-top: 10px;
        }

        #document-preview-frame {
            height: 76vh
        }
        /*.abc{
            display:none;
        }*/
    </style>
</head>
<body data-theme="light" class="font-nunito">
    <div id="wrapper" class="theme-cyan">

        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="sidebar-scroll">
                    <div class="user-account">
                        <h2 class="mainLogo">zipSign</h2>

                    </div>


                </div>
                <div class="navbar-right">
                    @*<form id="navbar-search" class="navbar-form search-form">
                            <input value="" class="form-control" placeholder="Search here..." type="text">
                            <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                        </form>*@

                    <div id="navbar-menu">
                        @*<ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-bs-toggle="dropdown">
                                        <i class="fa fa-bell"></i>
                                        <span class="notification-dot"></span>
                                    </a>
                                    <ul class="dropdown-menu notifications">
                                        <li class="header"><strong>You have 4 new Notifications</strong></li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-info text-warning"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Campaign <strong>Holiday Sale</strong> is nearly reach budget limit.</p>
                                                        <span class="timestamp">10:00 AM Today</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-like text-success"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Your New Campaign <strong>Holiday Sale</strong> is approved.</p>
                                                        <span class="timestamp">11:30 AM Today</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-pie-chart text-info"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Website visits from Twitter is 27% higher than last week.</p>
                                                        <span class="timestamp">04:00 PM Today</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-info text-danger"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Error on website analytics configurations</p>
                                                        <span class="timestamp">Yesterday</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="footer"><a href="javascript:void(0);" class="more">See all notifications</a></li>
                                    </ul>
                                </li>
                                <li>

                                    <div class="inidiv">
                                        <span class="icontoggle">JD</span>

                                        <ul class="profiletoggle">
                                            <li>Profile</li>
                                            <li>Change Password</li>
                                            <li>Sign Out</li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>*@
                    </div>
                </div>
            </div>
        </nav>

        <div id="main-content">


            <div class="container-fluid">


                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="block-header">
                                <div class="row pe-3 ps-3">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <h2>Sign Request </h2>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="d-flex flex-row-reverse">
                                            <div class="page_action">
                                                <button type="button" class="btn btn-primary me-2"><i class="fa fa-ban" id="btnreject"></i> Reject</button>
                                                <button type="button" class="btn btn-primary"><i class="fa fa-download" id="btndownload"></i> Download</button>
                                            </div>
                                            <div class="p-2 d-flex">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="body">

                                <div class="row clearfix ps-3">

                                    <div class="col-lg-6 col-md-12">
                                        <div class="leftimgdiv firsthalfmdl">
                                            <div class="signer">Signer  <span class="cross">x</span></div>
                                            <iframe src="" id="DocumentPreview"></iframe>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-12">
                                        <div class="signersList">
                                            <p class="mb-0">Signature Type</p>
                                            <div class="select-container">
                                                <div class="select">
                                                    <input type="text" id="input" placeholder="select" onfocus="this.blur();">
                                                </div>
                                                <div class="option-container">
                                                    <div class="option">
                                                        <label> Aadhaar eSign</label>
                                                    </div>
                                                    <div class="option">
                                                        <label> DSC eSign </label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 bodybtn firstbtn ">
                                            @*<div class="col-md-12 ">
                                                    <label><i class="fa fa-info-circle pr-1" aria-hidden="true"></i>By continuing, I agree to do eKYC using aadhaar to eSign with one of ESPs ( NSDL e-Gov or verasys ) Digio is registered as ASP.</label>
                                                </div>
                                                <div class="col-md-12 p-0 mt-3">
                                                    <input type="text" class="col-md-12 form-control" placeholder="Enter Name as on Aadhaar card">
                                                </div>*@
                                            <div class="col-md-12 p-0 mt-2">
                                                <button type="button" class="btn btn-primary" style="width: 100%" onclick="Continue();">Continue</button>
                                            </div>
                                        </div>
                                        <div id="iDiv" style="display:none">

                                            <div class="col-md-12 col-sm-12 col-xs-12" id="consentDiv" style="text-align: justify; height: 372px;">
                                                <h3 style="text-align: center">
                                                    Consent for Authentication
                                                </h3>
                                                <p style="text-align: center; font-weight: bold;">
                                                    Yoeki Soft Private Limited
                                                </p>
                                                <p>
                                                    Please check the box to provide your consent to the below option.
                                                </p>
                                                <p>
                                                    @*<asp:RadioButton ID="rdo1" GroupName="rdo" runat="server" Checked="true" />*@
                                                    <input type="radio" id="rdo1" checked />
                                                    By continuing, I agree to do eKyc using Aadhaar to eSign with one of ESPs (NSDL).
                                                    Yoeki Soft is registered as ASP.
                                                </p>
                                                <p style="text-align: center; font-weight: bold;">
                                                    OR
                                                </p>
                                                <p style="margin: 0;">
                                                    @*<asp:RadioButton ID="rdo2" GroupName="rdo" runat="server" />*@
                                                    <input type="radio" id="rdo2" />
                                                    I do not wish to authenticate myself with the Aadhaar based Authentication system
                                                    for Authentication of my identity. However, I do understand that if at any time
                                                    I wish to authenticate myself with the Aadhaar based Authentication system I need
                                                    to provide consent to Yoeki Soft Private Limited to provide my Aadhaar number, and
                                                    Authentication Mode (Biometric and/or OTP).
                                                </p>
                                                @*<asp:Button ID="btnAgree" OnClick="btnAgree_Click" runat="server" Text="Submit" OnClientClick="Showloader();"
                                                                class="btn btn-primary  pull-right" Style="margin-bottom: 8px; position: absolute;
                                                    bottom: 10px; right: 0;" />*@
                                                <button class="btn btn-primary" id="btnAgree" onclick="AgreeBtn()">
                                                    Submit
                                                </button>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12 divcont" id="AllDiv">
                                                <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                                    <div class="col-md-12 col-sm-12 col-xs-12" id="AuthMode" style="margin-top: 2%; display: none; ">
                                                        <h4 style="text-align: center; font-size: 24px; font-weight: bold;">
                                                            Authentication Mode
                                                        </h4>
                                                        <div class="col-md-12 col-sm-12 col-xs-12 authenticationimg" style="text-align: center">
                                                            <img src="~/Content/images/touch-icon.png" alt="" />
                                                        </div>

                                                        <div class="pophead" style="height: 20px;">
                                                        </div>
                                                        <div class="col-md-11 col-sm-11 col-xs-11 text-center" style="margin-left: 6%">
                                                            <div class="form-group">
                                                                <label class="col-sm-12 col-md-12 col-xs-12 control-label text-center" for="form-field-1">
                                                                    Choose Authentication Mode
                                                                </label>
                                                                <div id="Div13" class="col-sm-12 col-md-12 col-xs-12 d-flex flex-wrap radio text-left">
                                                                    <label id="lblotp" class="lblradiobtnss col-md-6 col-sm-12 col-xs-12 me-2">
                                                                        @*<asp:RadioButton ID="rdoOtp" GroupName="rdomethod" runat="server" Checked="true" />*@
                                                                        <input type="radio" id="rdoOtp" name="a" GroupName="rdomethod" />
                                                                        <span>OTP</span>
                                                                    </label>
                                                                    <label id="lblfinger" class="lblradiobtnss col-md-6 col-sm-12 col-xs-12">
                                                                        @*<asp:RadioButton ID="rdoFin" GroupName="rdomethod" runat="server" />*@
                                                                        <input type="radio" id="rdoFin" name="a" GroupName="rdomethod" />
                                                                        <span>Finger-Print</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                            @*<asp:Button ID="btnauthencationMode" OnClick="btnAuth_Click" runat="server" Text="Submit"
                                                                class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" Style="margin-top: 3%; margin-right: 2%;
                                                                margin-left: 7%;" OnClientClick="Showloader()" />*@



                                                            <input type="submit" name="btnauthencationMode" value="Submit" onclick="btnAuth_Click();" id="btnauthencationMode" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" style="margin-top: 3%; margin-right: 2%; margin-left: 7%;">



                                                            @*<asp:Button ID="Button3" runat="server" Text="Cancel" OnClick="btnCancel_Click" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary"
                                                                Style="margin-top: 3%; margin-left: 2%;" />*@

                                                            <input type="submit" name="Button3" value="Cancel" id="Button3" OnClick="btnCancel_Click()" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" style="margin-top: 3%; margin-left: 2%;">

                                                        </div>

                                                    </div>

                                                    <div class="col-md-12 col-sm-12 col-xs-12" id="detaildiv" style="margin-top: 6%; display:none;">
                                                        <h4 style="text-align: center; font-size: 24px; font-weight: bold;">
                                                            Mobile Verification
                                                        </h4>
                                                        <h2 class="col-md-12 col-sm-12 col-xs-12" style="font-size: 15px; margin-top: 0px;
                                    margin-bottom: 8px; border-bottom: #cdcdcd; text-align: center;">
                                                            Enter your mobile number to get an OTP
                                                        </h2>
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                                                            <img src="../images/Mobile.png" alt="" style="margin: 2% 0 3% 0" />
                                                        </div>
                                                        <div class="pophead" style="height: 20px;">
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center no-padding-right">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-md-3 col-xs-3 control-label no-padding" for="form-field-1">
                                                                    Mobile No.
                                                                </label>
                                                                <div class="col-sm-7 col-md-8 col-xs-8 no-padding">
                                                                    <input type="text" onkeyup="REMOVE();" runat="server" id="txtMobileNo" maxlength="10"
                                                                           onkeypress="return isNumberKey(event)" class="col-sm-12 col-md-12 col-xs-12" />
                                                                    <label id="MobileLenth" style="color: red; text-align: left; margin-top: 1%; font-weight: bold"
                                                                           class="col-sm-12 col-md-12 col-xs-12 no-padding">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="display: none">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-md-3 col-xs-4 control-label no-padding" for="form-field-1">
                                                                    Email ID
                                                                </label>
                                                                <div class="col-sm-7 col-md-7 col-xs-9 no-padding-right">
                                                                    <input type="text" runat="server" id="txtEmail" class="col-sm-12 col-md-12 col-xs-12" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <asp:Button ID="btnSubmit" OnClientClick="return Validation();" OnClick="btnSubmit_Click"
                                                                        runat="server" Text="Submit" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary"
                                                                        Style="margin-top: 3%; margin-right: 2%; margin-left: 7%;" />
                                                            <asp:Button ID="btnCancels" runat="server" OnClick="btnCancel_Click" Text="Cancel"
                                                                        class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" Style="margin-top: 3%; margin-left: 2%;" />
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 col-sm-12 col-xs-12" runat="server" visible="false" id="DivOTP"
                                                         style="margin-top: 6%; display:none;">
                                                        <h4 style="text-align: center; font-size: 24px; font-weight: bold;">
                                                            OTP Verification
                                                        </h4>
                                                        <h2 class="col-md-12 col-sm-12 col-xs-12" style="font-size: 15px; margin-top: 0px;
                                    margin-bottom: 8px; border-bottom: #cdcdcd; text-align: center;">
                                                            We have sent you an access code via sms for mobile number verification
                                                        </h2>
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                                                            <img src="../images/Mobile.png" alt="" />
                                                        </div>
                                                        <div class="pophead" style="height: 20px;">
                                                            <h2 runat="server" id="heading" class="col-md-12 col-sm-12 col-xs-12" style="font-size: 13px;
                                        margin-top: 8px; margin-bottom: 8px; font-weight: bold; color: #1c416f; border-bottom: #cdcdcd;
                                        display: none">
                                                                Please enter the OTP to verify your Mobile No.
                                                            </h2>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="display: none">
                                                            <div class="form-group" style="margin-top: 3%;">
                                                                <label class="col-sm-2 col-md-2 col-xs-12 control-label no-padding" for="form-field-1"
                                                                       style="font-size: 12px!important;">
                                                                    OTP
                                                                </label>
                                                                <div class="col-sm-8 col-md-8 col-xs-12 no-padding">
                                                                    <input type="text" id="txtOTP" runat="server" maxlength="6" onkeyup="REMOVE();" class="col-sm-10 col-md-9 col-xs-9"
                                                                           onkeypress="return isNumberKey(event)" />
                                                                    <asp:LinkButton runat="server" ID="btnResend" OnClick="btnResend_Click" Style="margin-left: 4%;">Resend</asp:LinkButton>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 col-sm-12 col-xs-10 otp">
                                                            <div class="form-group" style="margin-top: 3%;">
                                                                <label class="col-sm-2 col-md-2 col-xs-1 control-label no-padding" for="form-field-1"
                                                                       style="font-size: 12px!important;">
                                                                    OTP
                                                                </label>
                                                                <div class="col-sm-8 col-md-10 col-xs-9 no-padding otpbox">
                                                                    <input name="ctl00$ContentPlaceHolder1$txtOTP" type="text" id="ContentPlaceHolder1_txtOTP"
                                                                           maxlength="6" onkeyup="REMOVE();" class="col-sm-10 col-md-9 col-xs-9" onkeypress="return isNumberKey(event)"
                                                                           style="display: none;" />
                                                                    <input onkeyup="REMOVE();" id="txtotp1" runat="server" maxlength="1" onkeypress="return isNumberKey(event)"
                                                                           type="text" class="col-md-1" />
                                                                    <input onkeyup="REMOVE();" id="txtotp2" runat="server" maxlength="1" onkeypress="return isNumberKey(event)"
                                                                           type="text" class="col-md-1" />
                                                                    <input onkeyup="REMOVE();" id="txtotp3" runat="server" maxlength="1" type="text"
                                                                           class="col-md-1" onkeypress="return isNumberKey(event)" />
                                                                    <input onkeyup="REMOVE();" id="txtotp4" runat="server" maxlength="1" type="text"
                                                                           class="col-md-1" onkeypress="return isNumberKey(event)" />
                                                                    <input onkeyup="REMOVE();" id="txtotp55" runat="server" maxlength="1" type="text"
                                                                           class="col-md-1" onkeypress="return isNumberKey(event)" />
                                                                    <input onkeyup="REMOVE();" id="txtotp6" runat="server" maxlength="1" type="text"
                                                                           class="col-md-1" onkeypress="return isNumberKey(event)" />
                                                                    <div style="float: left;" class="col-xs-4 divbtn">
                                                                        <a id="ContentPlaceHolder1_btnResend" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$btnResend','')"
                                                                           class="no-padding col-xs-12 resendOTP">Resend OTP</a>
                                                                        <asp:LinkButton ID="btnvoice" Text="" OnClick="btnVoice_Click" runat="server" CssClass="col-xs-12 no-padding voiceOTP">Voice OTP</asp:LinkButton>
                                                                    </div>
                                                                    <asp:Label runat="server" ID="lblotpwarn" class="col-md-12 col-sm-12 col-xs-12 no-padding"
                                                                               Style="color: Red; margin-top: 2%; font-weight: bold;"></asp:Label>
                                                                </div>
                                                            </div>
                                                            <span id="ContentPlaceHolder1_lblotpwarn" style="color: Red; margin-left: 94px;">
                                                            </span>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <asp:Button ID="btnOTPValidation" runat="server" Text="Validate OTP" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary"
                                                                        OnClick="btnOTPValidation_Click" OnClientClick="return OTPValidation()" Style="margin-top: 3%;
                                        margin-right: 2%; margin-left: 7%;" />
                                                            <asp:Button ID="btnCancel1" runat="server" Text="Cancel" OnClick="btnCancel_Click"
                                                                        class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" Style="margin-top: 3%; margin-left: 2%;" />

                                                            <div class="container-fluid">
                                                                <div class="mainForm">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12" id="consentDiv" style="text-align: justify; height: 465px;">
                                                                        <h3 style="text-align: center">
                                                                            Consent for Authentication
                                                                        </h3>
                                                                        <p style="text-align: center; font-weight: bold;">
                                                                            Yoeki Soft Private Limited
                                                                        </p>
                                                                        <p>
                                                                            Please check the box to provide your consent to the below option.
                                                                        </p>
                                                                        <p>
                                                                            @*<asp:RadioButton ID="rdo1" GroupName="rdo" runat="server" Checked="true" />*@
                                                                            <input type="radio" id="rdo1" checked />
                                                                            By continuing, I agree to do eKyc using Aadhaar to eSign with one of ESPs (NSDL).
                                                                            Yoeki Soft is registered as ASP.
                                                                        </p>
                                                                        <p style="text-align: center; font-weight: bold;">
                                                                            OR
                                                                        </p>
                                                                        <p style="margin: 0;">
                                                                            @*<asp:RadioButton ID="rdo2" GroupName="rdo" runat="server" />*@
                                                                            <input type="radio" id="rdo2" />
                                                                            I do not wish to authenticate myself with the Aadhaar based Authentication system
                                                                            for Authentication of my identity. However, I do understand that if at any time
                                                                            I wish to authenticate myself with the Aadhaar based Authentication system I need
                                                                            to provide consent to Yoeki Soft Private Limited to provide my Aadhaar number, and
                                                                            Authentication Mode (Biometric and/or OTP).
                                                                        </p>
                                                                        @*<asp:Button ID="btnAgree" OnClick="btnAgree_Click" runat="server" Text="Submit" OnClientClick="Showloader();"
                                                                                        class="btn btn-primary  pull-right" Style="margin-bottom: 8px; position: absolute;
                                                                            bottom: 10px; right: 0;" />*@
                                                                        <button class="btn btn-primary" id="btnAgree" onclick="btnAgree_Click()">
                                                                            Submit
                                                                        </button>
                                                                    </div>

                                                                    <div class="col-md-12 col-sm-12 col-xs-12 divcont" id="AllDiv">
                                                                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                                                            <div class="col-md-12 col-sm-12 col-xs-12" id="AuthMode" style="margin-top: 2%; display: none; ">
                                                                                <h4 style="text-align: center; font-size: 24px; font-weight: bold;">
                                                                                    Authentication Mode
                                                                                </h4>
                                                                                <div class="col-md-12 col-sm-12 col-xs-12 authenticationimg" style="text-align: center">
                                                                                    <img src="~/Content/images/touch-icon.png" alt="" />
                                                                                </div>

                                                                                <div class="pophead" style="height: 20px;">
                                                                                </div>
                                                                                <div class="col-md-11 col-sm-11 col-xs-11 text-center" style="margin-left: 6%">
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-12 col-md-12 col-xs-12 control-label text-center" for="form-field-1">
                                                                                            Choose Authentication Mode
                                                                                        </label>
                                                                                        <div id="Div13" class="col-sm-12 col-md-12 col-xs-12 d-flex flex-wrap radio justify-content-around">
                                                                                            <label id="lblotp" class="lblradiobtnss col-md-6 col-sm-12 col-xs-12 me-2">
                                                                                                @*<asp:RadioButton ID="rdoOtp" GroupName="rdomethod" runat="server" Checked="true" />*@
                                                                                                <input type="radio" id="rdoOtp" name="a" GroupName="rdomethod" />
                                                                                                <span>OTP</span>
                                                                                            </label>
                                                                                            <label id="lblfinger" class="lblradiobtnss col-md-6 col-sm-12 col-xs-12">
                                                                                                @*<asp:RadioButton ID="rdoFin" GroupName="rdomethod" runat="server" />*@
                                                                                                <input type="radio" id="rdoFin" name="a" GroupName="rdomethod" />
                                                                                                <span>Finger-Print</span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                                                    @*<asp:Button ID="btnauthencationMode" OnClick="btnAuth_Click" runat="server" Text="Submit"
                                                                                        class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" Style="margin-top: 3%; margin-right: 2%;
                                                                                        margin-left: 7%;" OnClientClick="Showloader()" />*@

                                                                                    <input type="submit" name="btnauthencationMode" value="Submit" onclick="Showloader();" id="btnauthencationMode" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" style="margin-top: 3%; margin-right: 2%;
                                        margin-left: 7%;">


                                                                                    @*<asp:Button ID="Button3" runat="server" Text="Cancel" OnClick="btnCancel_Click" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary"
                                                                                        Style="margin-top: 3%; margin-left: 2%;" />*@

                                                                                    <input type="submit" name="Button3" value="Cancel" id="Button3" OnClick="btnCancel_Click" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" style="margin-top: 3%; margin-left: 2%;">

                                                                                </div>

                                                                            </div>

                                                                            <div class="col-md-12 col-sm-12 col-xs-12" id="detaildiv" style="margin-top: 6%; display:none;">
                                                                                <h4 style="text-align: center; font-size: 24px; font-weight: bold;">
                                                                                    Mobile Verification
                                                                                </h4>
                                                                                <h2 class="col-md-12 col-sm-12 col-xs-12" style="font-size: 15px; margin-top: 0px;
                                    margin-bottom: 8px; border-bottom: #cdcdcd; text-align: center;">
                                                                                    Enter your mobile number to get an OTP
                                                                                </h2>
                                                                                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                                                                                    <img src="../images/Mobile.png" alt="" style="margin: 2% 0 3% 0" />
                                                                                </div>
                                                                                <div class="pophead" style="height: 20px;">
                                                                                </div>
                                                                                <div class="col-md-12 col-sm-12 col-xs-12 text-center no-padding-right">
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-4 col-md-3 col-xs-3 control-label no-padding" for="form-field-1">
                                                                                            Mobile No.
                                                                                        </label>
                                                                                        <div class="col-sm-7 col-md-8 col-xs-8 no-padding">
                                                                                            <input type="text" onkeyup="REMOVE();" runat="server" id="txtMobileNo" maxlength="10"
                                                                                                   onkeypress="return isNumberKey(event)" class="col-sm-12 col-md-12 col-xs-12" />
                                                                                            <label id="MobileLenth" style="color: red; text-align: left; margin-top: 1%; font-weight: bold"
                                                                                                   class="col-sm-12 col-md-12 col-xs-12 no-padding">
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 col-sm-12 col-xs-12" style="display: none">
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-4 col-md-3 col-xs-4 control-label no-padding" for="form-field-1">
                                                                                            Email ID
                                                                                        </label>
                                                                                        <div class="col-sm-7 col-md-7 col-xs-9 no-padding-right">
                                                                                            <input type="text" runat="server" id="txtEmail" class="col-sm-12 col-md-12 col-xs-12" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                                    <asp:Button ID="btnSubmit" OnClientClick="return Validation();" OnClick="btnSubmit_Click"
                                                                                                runat="server" Text="Submit" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary"
                                                                                                Style="margin-top: 3%; margin-right: 2%; margin-left: 7%;" />
                                                                                    <asp:Button ID="btnCancels" runat="server" OnClick="btnCancel_Click" Text="Cancel"
                                                                                                class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" Style="margin-top: 3%; margin-left: 2%;" />
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-12 col-sm-12 col-xs-12" runat="server" visible="false" id="DivOTP"
                                                                                 style="margin-top: 6%; display:none;">
                                                                                <h4 style="text-align: center; font-size: 24px; font-weight: bold;">
                                                                                    OTP Verification
                                                                                </h4>
                                                                                <h2 class="col-md-12 col-sm-12 col-xs-12" style="font-size: 15px; margin-top: 0px;
                                    margin-bottom: 8px; border-bottom: #cdcdcd; text-align: center;">
                                                                                    We have sent you an access code via sms for mobile number verification
                                                                                </h2>
                                                                                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                                                                                    <img src="../images/Mobile.png" alt="" />
                                                                                </div>
                                                                                <div class="pophead" style="height: 20px;">
                                                                                    <h2 runat="server" id="heading" class="col-md-12 col-sm-12 col-xs-12" style="font-size: 13px;
                                        margin-top: 8px; margin-bottom: 8px; font-weight: bold; color: #1c416f; border-bottom: #cdcdcd;
                                        display: none">
                                                                                        Please enter the OTP to verify your Mobile No.
                                                                                    </h2>
                                                                                </div>
                                                                                <div class="col-md-12 col-sm-12 col-xs-12" style="display: none">
                                                                                    <div class="form-group" style="margin-top: 3%;">
                                                                                        <label class="col-sm-2 col-md-2 col-xs-12 control-label no-padding" for="form-field-1"
                                                                                               style="font-size: 12px!important;">
                                                                                            OTP
                                                                                        </label>
                                                                                        <div class="col-sm-8 col-md-8 col-xs-12 no-padding">
                                                                                            <input type="text" id="txtOTP" runat="server" maxlength="6" onkeyup="REMOVE();" class="col-sm-10 col-md-9 col-xs-9"
                                                                                                   onkeypress="return isNumberKey(event)" />
                                                                                            <asp:LinkButton runat="server" ID="btnResend" OnClick="btnResend_Click" Style="margin-left: 4%;">Resend</asp:LinkButton>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8 col-sm-12 col-xs-10 otp">
                                                                                    <div class="form-group" style="margin-top: 3%;">
                                                                                        <label class="col-sm-2 col-md-2 col-xs-1 control-label no-padding" for="form-field-1"
                                                                                               style="font-size: 12px!important;">
                                                                                            OTP
                                                                                        </label>
                                                                                        <div class="col-sm-8 col-md-10 col-xs-9 no-padding otpbox">
                                                                                            <input name="ctl00$ContentPlaceHolder1$txtOTP" type="text" id="ContentPlaceHolder1_txtOTP"
                                                                                                   maxlength="6" onkeyup="REMOVE();" class="col-sm-10 col-md-9 col-xs-9" onkeypress="return isNumberKey(event)"
                                                                                                   style="display: none;" />
                                                                                            <input onkeyup="REMOVE();" id="txtotp1" runat="server" maxlength="1" onkeypress="return isNumberKey(event)"
                                                                                                   type="text" class="col-md-1" />
                                                                                            <input onkeyup="REMOVE();" id="txtotp2" runat="server" maxlength="1" onkeypress="return isNumberKey(event)"
                                                                                                   type="text" class="col-md-1" />
                                                                                            <input onkeyup="REMOVE();" id="txtotp3" runat="server" maxlength="1" type="text"
                                                                                                   class="col-md-1" onkeypress="return isNumberKey(event)" />
                                                                                            <input onkeyup="REMOVE();" id="txtotp4" runat="server" maxlength="1" type="text"
                                                                                                   class="col-md-1" onkeypress="return isNumberKey(event)" />
                                                                                            <input onkeyup="REMOVE();" id="txtotp55" runat="server" maxlength="1" type="text"
                                                                                                   class="col-md-1" onkeypress="return isNumberKey(event)" />
                                                                                            <input onkeyup="REMOVE();" id="txtotp6" runat="server" maxlength="1" type="text"
                                                                                                   class="col-md-1" onkeypress="return isNumberKey(event)" />
                                                                                            <div style="float: left;" class="col-xs-4 divbtn">
                                                                                                <a id="ContentPlaceHolder1_btnResend" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$btnResend','')"
                                                                                                   class="no-padding col-xs-12 resendOTP">Resend OTP</a>
                                                                                                <asp:LinkButton ID="btnvoice" Text="" OnClick="btnVoice_Click" runat="server" CssClass="col-xs-12 no-padding voiceOTP">Voice OTP</asp:LinkButton>
                                                                                            </div>
                                                                                            <asp:Label runat="server" ID="lblotpwarn" class="col-md-12 col-sm-12 col-xs-12 no-padding"
                                                                                                       Style="color: Red; margin-top: 2%; font-weight: bold;"></asp:Label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <span id="ContentPlaceHolder1_lblotpwarn" style="color: Red; margin-left: 94px;">
                                                                                    </span>
                                                                                </div>
                                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                                    <asp:Button ID="btnOTPValidation" runat="server" Text="Validate OTP" class="col-md-5 col-sm-5 col-xs-5 btn btn-primary"
                                                                                                OnClick="btnOTPValidation_Click" OnClientClick="return OTPValidation()" Style="margin-top: 3%;
                                        margin-right: 2%; margin-left: 7%;" />
                                                                                    <asp:Button ID="btnCancel1" runat="server" Text="Cancel" OnClick="btnCancel_Click"
                                                                                                class="col-md-5 col-sm-5 col-xs-5 btn btn-primary" Style="margin-top: 3%; margin-left: 2%;" />
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div id="Diverr" style="display: none" class="popupmandate">
                                                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding" style="text-align: center">
                                                                <a href="UploadFiles.aspx" class="btn btn-danger">Upload Files</a>
                                                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin: 1% 0 1% 0;">
                                                                    <div class="form-group">
                                                                        <label id="lblerr" class="col-md-12 col-sm-12 col-xs-12 control-label no-padding"
                                                                               for="form-field-1">
                                                                            Request File does not exist
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="popclose close" id="errpopclose" style="right: 2px;" onclick="closePopup()">
                                                                <label class="">
                                                                    X
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <iframe src="" id="NSDLiframe" style="display:none">
                                                </iframe>
                                            @*<button type="button" class="btn btn-primary" style="width: 100%" onclick="btnAuth1_Click();">Continue</button>*@
                                            @*<button type="button" class="btn btn-primary" style="width: 100%" onclick="btnAuth_Click();">Continue</button>*@

                                        </div>
                                        <!--<div id="nDiv" class="abc">-->
                                        @*https://pregw.esign.egov-nsdl.com/nsdl-esp/authenticate/esign-doc/*@
                                        @*<iframe src="@Url.Action("ProxyExternalContent", "zipSign")" id="NSDL"></iframe>*@
                                        <!--<iframe src="https://pregw.esign.egov-nsdl.com/nsdl-esp/authenticate/esign-doc/" id="NSDL"></iframe>
                                        </div>-->
                                        @*<div class="col-md-12 mb-2">
                                                <button type="button" class="btn btn-primary btnSign col-md-12"> Add Signature</button>
                                            </div>*@


                                        @*<ul id="columns">
                                                <li class="column" draggable="true">
                                                    <div class="col-md-12 signerdiv">
                                                        <i class="fa fa-th draggable" aria-hidden="true"></i>
                                                        <div class="col-md-12 p-1">
                                                            <label class="txtsign">Signer 1</label>
                                                        </div>
                                                        <div class="col-md-12 d-flex flex-wrap">
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Name">
                                                            </div>
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Email ID">
                                                            </div>
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Mobile Number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="column" draggable="true">
                                                    <div class="col-md-12 signerdiv">
                                                        <i class="fa fa-th draggable" aria-hidden="true"></i>
                                                        <div class="col-md-12 p-1">
                                                            <label class="txtsign">Signer 2</label>
                                                        </div>
                                                        <div class="col-md-12 d-flex flex-wrap">
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Name">
                                                            </div>
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Email ID">
                                                            </div>
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Mobile Number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="column" draggable="true">
                                                    <div class="col-md-12 signerdiv">
                                                        <i class="fa fa-th draggable" aria-hidden="true"></i>
                                                        <div class="col-md-12 p-1">
                                                            <label class="txtsign">Signer 3</label>
                                                        </div>
                                                        <div class="col-md-12 d-flex flex-wrap">
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Name">
                                                            </div>
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Email ID">
                                                            </div>
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Mobile Number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="column" draggable="true">
                                                    <div class="col-md-12 signerdiv">
                                                        <i class="fa fa-th draggable" aria-hidden="true"></i>
                                                        <div class="col-md-12 p-1">
                                                            <label class="txtsign">Signer 4</label>
                                                        </div>
                                                        <div class="col-md-12 d-flex flex-wrap">
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Name">
                                                            </div>
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Email ID">
                                                            </div>
                                                            <div class="form-group col-md-4 p-1">
                                                                <input type="text" class="form-control" placeholder="Mobile Number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>



                                            </ul>*@


                                        @*<div class="col-md-12 d-flex justify-content-end">
                                                <button type="button" class="btn btn-primary newsign"> Add Signer</button>

                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-3.6.4.min.js"></script>
    <script src="~/JavaScript/RequestSign.js"></script>
    <script>var jquery_3_6 = jQuery.noConflict();</script>
    <script src="~/Content/js/libscripts.bundle.js"></script>
    <script src="~/Content/js/vendorscripts.bundle.js"></script>
    @*<script src="~/Content/js/toastr.js"></script>*@
    @*<script src="~/Content/js/c3.bundle.js"></script>*@
    <script src="~/Content/js/mainscripts.bundle.js"></script>
    <script src="~/Content/js/index.js"></script>
    <script src="~/Content/js/ag-grid-community.min.js"></script>
    <script src="~/Content/js/sweetalert.min.js"></script>

    <script>
        jquery_3_6(document).ready(function () {
            jquery_3_6(".opencorp").click(function () {
                jquery_3_6(".allcorp").toggle();
                event.stopPropagation()
            });
        });

    </script>
    <script>
        //$(document).ready(function () {
        //    //
        //    if (getUrlParameter1('File') != null) {
        //        RowClickEventHandler1();
        //    }

        //});





        //function RowClickEventHandler1() {
        //    //
        //    var fileId = getUrlParameter1('File');
        //    //var SignUploadId1='';
        //    $.ajax({
        //        url: '/zipSign/GetFileData1',
        //        type: 'POST',
        //        dataType: 'json',
        //        data: {
        //            SignUploadId1: fileId,
        //        },
        //        async: false,
        //        success: function (result) {
        //            //

        //            var filename = result.filePath.split('\\').pop();
        //            var webURL = '/Uploads/SignUpload/' + filename;
        //            $("#hdnfilepath").val(webURL);
        //            //$("#document-preview-frame").attr("src", webURL);
        //            //$("#hdnfilepath").val(relativeFilePath);
        //            $("#document-preview-frame").attr("src", webURL);
        //        },
        //        error: function () {
        //            alert('Something Went Wrong');
        //        }
        //    });
        //}

        jquery_3_6(document).ready(function () {
            let url = window.location.href;
            jquery_3_6('#main-menu li a').each(function () {
                if (this.href === url) {
                    jquery_3_6('#main-menu li').removeClass('active');
                    jquery_3_6(this).parent().addClass('active');
                }
            })
            jquery_3_6('#main-menu li ul li a').each(function () {
                if (this.href === url) {
                    jquery_3_6('#main-menu li').removeClass('active');
                    jquery_3_6(this).parent().addClass('active');
                    jquery_3_6(this).closest('ul').addClass('in');
                    jquery_3_6(this).closest('ul').parent().addClass('active');
                }
            })
        })
    </script>
    <script src="~/Content/js/jquery-3.6.4.min.js"></script>
    <script src="~/JavaScript/Upload.js"></script>

    <script>var jquery_3_6 = jQuery.noConflict();</script>
    <script src="~/Content/js/code.jquery.com_ui_1.10.4_jquery-ui.js"></script>
    <script>var jquery_ui = jQuery.noConflict();</script>
    <script>
        jquery_3_6(document).ready(function () {
            jquery_3_6(".newsign").click(function () {
                jquery_3_6(".newsigner").show();
            });
        });

        let selectContainer = document.querySelector(".select-container");
        let select = document.querySelector(".select");
        let input = document.getElementById("input");
        let options = document.querySelectorAll(".select-container .option");

        select.onclick = () => {
            selectContainer.classList.toggle("active");
        };

        options.forEach((e) => {
            e.addEventListener("click", () => {
                input.value = e.innerText;
                selectContainer.classList.remove("active");
                options.forEach((e) => {
                    e.classList.remove("selected");
                });
                e.classList.add("selected");
            });
        });
    </script>
    <script>
        jquery_3_6(document).ready(function () {
            jquery_3_6('.btnSign').click(function () {

                jquery_3_6('.firsthalfmdl').append("<div class='signer' style='display:block'>Signer  <span class='cross'>x</span></div>");
                jquery_3_6(function () {
                    jquery_ui(".signer").draggable();
                    jquery_ui(".signer").resizable();
                });
                jquery_3_6('.cross').click(function () {
                    jquery_3_6(this).parent().hide();
                })
            })
        });
    </script>
    <script>
        var dragSrcEl = null;

        function handleDragStart(e) {

            dragSrcEl = this;

            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.outerHTML);

            this.classList.add('dragElem');
        }
        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }
            this.classList.add('over');

            e.dataTransfer.dropEffect = 'move';

            return false;
        }

        function handleDragEnter(e) {

            e.preventDefault();

        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }

        function handleDrop(e) {

            if (e.stopPropagation) {
                e.stopPropagation();
            }

            if (dragSrcEl != this) {

                dragSrcEl.parentNode.removeChild(dragSrcEl);
                var dropHTML = e.dataTransfer.getData('text/html');
                this.insertAdjacentHTML('beforebegin', dropHTML);
                var dropElem = this.previousSibling;
                addDnDHandlers(dropElem);

            }
            this.classList.remove('over');
            return false;
        }

        function handleDragEnd(e) {

            this.classList.remove('over');

        }

        function addDnDHandlers(elem) {
            elem.addEventListener('dragstart', handleDragStart, false);
            elem.addEventListener('dragenter', handleDragEnter, false)
            elem.addEventListener('dragover', handleDragOver, false);
            elem.addEventListener('dragleave', handleDragLeave, false);
            elem.addEventListener('drop', handleDrop, false);
            elem.addEventListener('dragend', handleDragEnd, false);

        }

        var cols = document.querySelectorAll('#columns .column');
        [].forEach.call(cols, addDnDHandlers);


        var cols_1 = document.querySelectorAll('#columns_1 .column');
        [].forEach.call(cols_1, addDnDHandlers);
    </script>

    <script>
        jquery_3_6(document).ready(function () {
            jquery_3_6("#btnAgree").click(function () {
                jquery_3_6("#consentDiv").hide();
                jquery_3_6("#AuthMode").show();
            });
        });

    </script>
</body>
</html>

